@import './custom_variables.scss';

body {
   background: #f8f9f9;
}

.overall-post-container {
    z-index: 99;
    border-radius: 1.5em;

    box-shadow:  8px 8px 18px #e3e3e3, 
    -8px -8px 18px #ffffff;
    transition-duration: 0.5s;

    @extend .row, .mb-5, .p-3, .flex-column, .p-4 , .bg-white;
    &:hover {
        z-index: 100;
        transition-duration: 0.5s;
        transform: scale(1.03);
        box-shadow: $custom-shadow-md-hover;
    }

    .overall-post-header {
    
        @extend .d-flex, .flex-row, .justify-content-between, .align-items-center;
    
        .overall-post-title {
            color: $post-title-color;
        }
    }

    .overall-post-body {
        @extend .my-3;
    }
}

.overall-tags-container {
    @extend .d-flex, .flex-row, .m-0;

    div {
        @extend .mr-1;
    }
    
}

.our-nav {
    background: white;
    box-shadow: 1px 1px 16px 0px #00000017;

    .navbar-brand {
        @extend .text-white;
    }
    .our-navbar-toggler {
        @extend .bg-transparent, .border-0;
        .navbar-toggler-icon {
            color: white;
        }
    
    }
    .nav-link {
        @extend .text-white;
    }
}




/* Color Theme Swatches in Hex */
$WhiteBoard-Pen-1-hex: #9E08FF;
$WhiteBoard-Pen-2-hex: #8648F0;
$WhiteBoard-Pen-3-hex: #2200FF;
$WhiteBoard-Pen-4-hex: #4E5FF0;
$WhiteBoard-Pen-5-hex: #0052FA;
