@import '~bootstrap/scss/bootstrap';

$little-tag-color: #FFBF00;
$custom-shadow-md: 0 0.125rem 0.50rem rgba(0, 0, 0, 0.075) !important;

.rounded-lg {
    border-radius: 1em !important;
}

.little-tag-container {
    background: $little-tag-color;
    @extend .badge, .text-white;
}